<form>
    <h1>Currency Converter</h1>
    <div class="form-group">
      <label for="Amount">Amount</label>
      <input type="text" class="id="amount" name="amount" [(ngModel)]="amount">
      <div class="dropdown">
        <select id="fromCurrency" name="fromCurrency" [(ngModel)]="fromCurrency">
          <option value="USD">USD</option>
          <option value="INR">INR</option>
          <option value="GBP">GBP</option>
        </select>
        <select id="toCurrency" name="toCurrency"[(ngModel)]="toCurrency">
            <option value="USD">USD</option>
            <option value="INR">INR</option>
            <option value="GBP">GBP</option>
        </select>
    </div>
        <button id="submitButton" (click)="submitButton()">submit</button>
        <div id="result">
          <ng-container id="resValue">{{result}}</ng-container>
        </div>
    </div>
  </form>