<div>
  <h1>Currency Converter</h1>
  <input type="text" [(ngModel)]="amount" placeholder="Enter Amount"/>
  <select [(ngModel)]="fromCurrency">
    <option value="USD">USD</option>
    <option value="INR">INR</option>
    <option value="GBP">GBP</option>
  </select>
  <select [(ngModel)]="toCurrency">
    <option value="USD">USD</option>
    <option value="INR">INR</option>
    <option value="GBP">GBP</option>
  </select>
  <button (click)="submitButton(fromCurrency,toCurrency)">submit</button>
  <p>
    <span>Converted : {{resValue}} </span>
  </p>
</div>