<form>
    <h1>Currency Converter</h1>
    <div class="form-group">
        <input type="text" [(ngModel)]="amount" name="amount" placeholder="Enter Amount">
        <br/><br/>
        <div class="dropdown">
            <label for="fromCurrency">From</label>
            <select class="form-control" name="fromCurrency" [(ngModel)]="fromCurrency">
                <option value="79.677056">INR</option>
                <option value="1.126735">USD</option>
                <option value="0.876893">GBP</option>
            </select>
        </div>
        <br/>
        <div class="dropdown">
            <label for="toCurrency">To</label>
            <select class="form-control" name="toCurrency" [(ngModel)]="toCurrency">
                <option value="79.677056">INR</option>
                <option value="1.126735">USD</option>
                <option value="0.876893">GBP</option>
            </select>
        </div>
        <br>
        <button id="submitButton" (click)="convert()">Submkit</button>
    </div>